p
{
    border:1px solid blue;
    background-color: lightblue;
    padding: 5px;
    text-align: justify;
    border-radius: 10px;
    border-left-width: 10px;
}

h3
{
    text-decoration: underline;
    text-align: center;
    color :  green;
    border: 1px solid green;
    padding : 5px;
}